/* EventCard.css */

.Event-card {
  width: 215px;
  height: 340px;
  background-color: #222;
  border-radius: 8px;
  border-color: black;
  box-shadow: 0 0 8px rgba(0,0,0,0.7);
  padding: 12px;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-shrink: 0; /* 不要自動壓縮 */
  color: gold;

  display: flex;               /* 加這行：使用 Flex 排版 */
  flex-direction: column;     /* 垂直方向排列 */
  justify-content: space-between; /* 元素平均分配空間 */
  gap: 12px;                   /* 元素之間上下間距 */
  
}

.Event-card-body {
  align-items: center;
  margin-bottom: 12px;
}

.Event-image {
  font-size: 48px;
  margin-bottom: 8px;
}

.Event-name , .Event-description, .Event-effects-description{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.Event-name{
  font-weight: bold;
}