/* 全域設定 */
* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}


body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;  
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.main-container {
  background-image: url('../assets/background/background.png');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;  
  display: flex;
  height: 100vh;    
  width: 100vw;     
  padding: 30px;
  box-sizing: border-box;
  gap: 20px;
}

.left-section, .middle-section, .right-section  {
  background: rgba(255, 255, 255, 0.15); 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  backdrop-filter: blur(8px);           
      border: 1px solid rgba(255, 255, 255, 0.3);
  overflow-y: auto;
}

/* 左邊固定寬度 */
.left-section {
  flex:1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 中間自動撐滿剩下空間 */
.middle-section {
  flex:6;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;       /* 如果超出寬度，自動顯示橫向捲軸 */
}


/* 右邊自動撐滿剩下空間 */
.right-section {
  flex:2;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

/* 戰場區域撐滿剩下空間 */
.battlefield-wrapper {
  flex: 4;
}

/* 隊列固定高度 */
.queue-wrapper {
  flex: 3;
}



/* 戰場區域撐滿剩下空間 */
.WorldEvent-wrapper {
  flex: 2;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex:2;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  min-width: 0;

}

/* 戰場區域撐滿剩下空間 */
.WorldEvent-container {
  display: flex;              
  align-items: center;        
  justify-content: center;    
}

/* 隊列固定高度 */
.log-wrapper {
  flex:4;
  border-color: black;
  background-color: #f9f9f9;   
  border-radius: 8px;
  height: 500px;
  overflow-y: auto;
}


/* 內容區塊樣式 */
.box {
  background-color: #e5e7eb;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
}


.monsters-section {
  display: flex;            /* 水平排列 */
  gap: 15px;                /* 元素間間距 */
  height: 100%;
}


/* 
.battlefield-Monsters-wrapper {
  flex: 1;                  /* 撐滿剩餘空間 */
  /* background-color: #f9fafb;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto; */
/* } */

/* .queue-Monsters-wrapper {
  width: 250px;             固定寬度，可調整 */
  /* background-color: #f3f4f6;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
} */ 
