h2.section-title {
  text-align: center;
  font-size: 30px !important;/* 調整成你想要的大小 */
  font-weight: 700;
  color: #f39c12;
}

  /* display: flex;  */
  /* justify-content: space-between; */


.battlefield{
  /* justify-content: space-between; */
}