/* MonsterQueue.css */

.monsterqueue-grid {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;     
}

.section-header {
  margin-bottom: 10px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  color: #f39c12;
}


