.player-card {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 16px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 2px;
}

.player-header{
  display: flex;
  font-weight: bold;
  color: black;
}

.player-header .id {
  flex: 2;
  text-align: center;
}
.player-header .name {
  flex: 3;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.player-header .gold {
  flex: 2;
  text-align: center;
}

.player-attributes {
  display: flex;
  justify-content:space-between; /* ✅ 三欄平均分散 */
  align-items:safe;            /* ✅ 垂直置中（可選） */
  margin-top: 12px;            /* 和標題間距 */
}


.attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.water {
  background-color: darkblue;
}

.fire {
  background-color: red;
}

.wood {
  background-color: forestgreen;
}
